@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


.titre{
    font-family: 'Poppins', sans-serif;
}

.container{
    /* height: 96vh; */
    background-color:#3D10F3;
    margin: auto;
    /* border-radius: 5%; */

}
.top-bar input{
   display: flex;
   width: 152px; 
   height: 67px; 
   border-radius:50px;
   border: none;
   outline: none;
   padding-left: 5%;
   padding-right: 3%;
}

.search{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 67px;
   height: 67px;
   background-color: #fff;
   border-radius: 100%;
   cursor: pointer;
    
}
.weather-image{
    width: 40%;
   
    
}

.weather-temp{
    display: flex;
    justify-content: center;
    font-size: 70px;
    color: #fff;
    font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    font-weight: 400;
}

.data-container{
    display: flex;
    justify-content: center;
    color: #fff;
    /* padding-top: 5%; */
}
.element{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin: auto;
}

.data{
    font-size: 18px;
    font-family: 'poppins';
    font-weight: 300;
    
}

.text{
    font-size: 20px;
    font-weight: 400;
}
.icon{
    margin-top: 8px;
}
.cityInput{
    
}